{% extends 'base.html.twig' %}

{% block title %}{{'Adversaries search'|trans}}{% endblock %}

{% block body %}

{% if adversaries|length > 0 %}
<h2 class="mb-5">{{'Adversaries'|trans}}</h2>
<div class="row">
  <div class="col-12 col-lg-8">
    <table id="tblAdversaries" class="table table-hover" data-order='[[ 1, "DESC"], [2, "ASC"], [4, "ASC"]]' data-page-length='20'>
      <thead>
      <tr>
        <th>{{'Class'|trans}}</th>
        <th>{{'Quantity'|trans}}</th>
        <th>{{'Campaign'|trans}}</th>
        <th>{{'Hard ?'|trans}}</th>
        <th>{{'Step'|trans}}</th>
      </tr>
    </thead>
    <tbody>
    {% for adv in adversaries %}
    <tr>
      <td>{{ adv.nom }}</td>
      <td>{{ adv.quantite }}</td>
      <td>{{ adv.campagne }}</td>
      <td>{% if adv.difficile %}yes{% endif %}</td>
      <td>{{ adv.etape }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>
  {% include'parts/datatable.html.twig' %}
{% else %}
<h2 class="mb-5">{{'No Adversaries found'|trans}}</h2>
{% endif %}
{% endblock %}
 