{% extends 'base.html.twig' %}

{% block title %}{{'Maiden shards search'|trans}}{% endblock %}

{% block body %}

{% if shards|length > 0 %}
<h2 class="mb-5">{{'Maiden shards'|trans}}</h2>
<div class="row">
  <div class="col-12 col-lg-8">
    <table id="tblShards" class="table table-hover" data-order='[[0, "asc"], [ 4, "desc"], [5, "desc"]]' data-page-length='20'>
      <thead>
      <tr>
        <th>{{'Maiden'|trans}}</th>
        <th>{{'Campaign'|trans}}</th>
        <th>{{'Hard ?'|trans}}</th>
        <th>{{'Step'|trans}}</th>
        <th>{{'Minimum'|trans}}</th>
        <th>{{'Maximum'|trans}}</th>
      </tr>
    </thead>
    <tbody>
    {% for s in shards %}
      <tr>
        <td>{{ s.nom }}</td>
        <td>{{ s.campagne }}</td>
        <td>{% if s.difficile %}{{'yes'|trans}}{% endif %}</td>
        <td>{{ s.etape }}</td>
        <td>{{ s.minimum }}</td>
        <td>{{ s.maximum }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>
  {% include'parts/datatable.html.twig' %}
{% else %}
<h2 class="mb-5">No Shards found</h2>
{% endif %}
{% endblock %}
