{% extends 'base.html.twig' %}

{% block title %}{{'Stage cost'|trans}}{% endblock %}

{% block body %}

{% if stages|length > 0 %}
<h2 class="mb-5">{{'Stage cost'|trans}}</h2>
<div class="row">
  <div class="col-12 col-lg-8">
    <table id="tblStages" class="table table-hover"  data-page-length='20'>
      <thead>
      <tr>
        <th>{{'Campaign'|trans}}</th>
        <th>{{'Hard ?'|trans}}</th>
        <th>{{'Stage ?'|trans}}</th>
        <th>{{'Boss ?'|trans}}</th>
        <th>{{'Energy'|trans}}</th>
        <th>{{'Nb Adversaries'|trans}}</th>
        <th>{{'Energy by adversary'|trans}}</th>
        <th>{{'Maiden experience'|trans}}</th>
        <th>{{'Maiden exp. by adv.'|trans}}</th>
        <th>{{'Player experience'|trans}}</th>
      </tr>
    </thead>
    <tbody>
    {% for s in stages %}
      <tr>
        <td>{{ s.numCampagne }}</td>
        <td>{% if s.difficile %}{{'yes'|trans}}{% endif %}</td>
        <td>{{ s.numEtape }}</td>
        <td>{% if s.boss %}{{'yes'|trans}}{% endif %}</td>
        <td>{{ s.energie }}</td>
        <td>{{ s.nbAdversaire }}</td>
        <td>{{ s.energieParAvdersaire|format_number({fraction_digit: 2}) }}</td>
        <td>{{ s.maidenExperience }}</td>
        <td>{{ s.maidenExpByAdv|format_number({fraction_digit: 0}) }}</td>
        <td>{{ s.playerExperience }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>
  {% include'parts/datatable.html.twig' %}
{% else %}
<h2 class="mb-5">{{'No stage found'|trans}}</h2>
{% endif %}
{% endblock %}
