{# TODO #}

<ul>
  <li>
      <a href="{{ path('adversaries-request')}}">{{'Search adversaries'|trans}}</a>
  </li>
  <li>
      <a href="{{ path('crystal-request')}}">{{'Search crystals'|trans}}</a>
  </li>
  <li>
      <a href="{{ path('shard-request')}}">{{'Search maiden shard'|trans}}</a>
  </li>
  <li>
      <a href="{{ path('stages-request')}}">{{'Search stage cost'|trans}}</a>
  </li>
</ul>
